.dialog-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    min-width: 450px;
}

.row-fields {
    display: flex;
    gap: 15px;
}

.row-fields mat-form-field {
    flex: 1; /* Permite que Fecha y Hora dividan el espacio a la mitad */
}

mat-form-field {
    width: 100%;
}